html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.title-product {
    color: #000000;
    font-size: 30px;
    line-height: 28px;
}
.title {
    color: #000;
    font-size: 36px;
    text-align: center;
    span {
        color: #0674ec;
    }
}
.breadcrumbs {
    &__inner {
    }
    &__list,
    &__list-list {
        display: flex;
        justify-content: center;
        font-size: 15px;
        a {
            color: #f3f3f8;
            padding-right: 16px;
            position: relative;
            margin-right: 5px;
            &:before {
                content: "/";
                position: absolute;
                right: 0;
            }
        }
        span {
            color: #bfcad7;
        }
    }
    &__list-list {
        display: none;
        &.list {
            display: flex;
        }
    }
    &__list {
        &.list {
            display: none;
        }
    }
}
