@import "vars";
@import "global";
@import "fonts";

//start header

.header__top {
    background-color: #eef1f3;
}
.header__top-inner {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.header__box {
    display: flex;
    align-items: center;
}
.header__top-link {
    a {
        color: #ffffff;
        font-size: 14px;
        background-color: #0674ec;
        border-radius: 18px;
        padding: 13px 18px;
        margin-right: 50px;
    }
}
.notification {
    font-size: 20px;
    color: #7e8fa1;
    span {
        background-color: #ff6a6c;
    }
}
.message {
    font-size: 20px;
    color: #7e8fa1;
    span {
        background-color: #62d03b;
    }
}
.basket {
    font-size: 20px;
    color: #7e8fa1;
    span {
        background-color: #0674ec;
    }
}
.user__inner {
    display: flex;
}
.user__images {
    border-radius: 50%;
    margin-right: 22px;
    margin-left: 15px;
}
.user__name {
    @include f500;
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
}
.user__price {
    color: #0674ec;
    font-size: 15px;
}
.header__circle {
    position: relative;
    span {
        width: 22px;
        height: 22px;
        color: #ffffff;
        border-radius: 50%;
        font-size: 14px;
        position: absolute;
        top: -16px;
        right: -14px;
        text-align: center;
        line-height: 20px;
    }
}
.notification__box .header__circle span {
    width: 26px;
}
.notification__box,
.message__box,
.basket__box {
    margin-right: 33px;
}
.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        text-transform: uppercase;
        font-size: 15px;
        @include f500;
        color: #333333;
    }
}
.search__inner {
    max-width: 360px;
    width: 100%;
    position: relative;
    input {
        max-width: 360px;
        display: block;
        width: 100%;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        outline: none;
        height: 46px;
        padding-left: 25px;
        padding-right: 75px;
        & ::placeholder {
            font-size: 15px;
            color: #898f96;
        }
    }
    button {
        position: absolute;
        border: none;
        top: 0;
        right: 0;
        background-color: #0674ec;
        width: 70px;
        height: 46px;
        border-radius: 23px;
        color: #fff;
    }
}
//end header
//start search

.search {
    background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
    height: 726px;
    position: relative;
}
.search__box {
    text-align: center;
    padding: 149px 0px 235px;
    color: #f3f3f8;

    &-title {
        font-size: 60px;
        line-height: 70px;
        font-weight: 400;
        span {
            @include f700;
            display: block;
        }
    }
    &-text {
        font-size: 20px;
        line-height: 72px;
        text-align: center;
        @include f500;
        margin-bottom: 68px;
    }
    a {
        font-size: 16px;
        text-align: center;
        margin-right: 30px;
        padding: 21px 32px;
        color: #fff;
        border-radius: 28px;
        border: 1px solid #ffffff;
        transition: all 0.3s;
        &:hover {
            background-color: #ffffff;
            color: #0674ec;
        }
    }
}
.search__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search__form-item {
    width: 1080px;
    height: 135px;
    border-radius: 6px;
    background-color: #ffffff;
    opacity: 0.5;
    position: absolute;
    bottom: -40px;
}
.search__form-item-2 {
    width: 1110px;
    height: 135px;
    border-radius: 6px;
    background-color: #ffffff;
    opacity: 0.5;
    position: absolute;
    bottom: -53px;
}
.search__form-search {
    position: absolute;
    bottom: -66px;

    max-width: 1140px;
    width: 100%;
}
.search__form-inner {
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
    input {
        max-width: 612px;
        width: 100%;
        outline: none;
        height: 55px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        padding: 20px 19px;
        &::placeholder {
            color: #676767;
            font-family: Quicksand;
            font-size: 16px;
            font-weight: 400;
            line-height: 42px;
        }
    }
    button {
        width: 194px;
        height: 55px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        background-color: #fff;
        margin-left: -8px;
        cursor: pointer;
        outline: none;
        span {
            color: #555555;
            font-family: Quicksand;
            font-size: 16px;
            font-weight: 400;
            line-height: 42px;
            position: relative;
            padding-right: 39px;
            &::before {
                content: "\e874";
                font-family: "Linearicons-Free";
                position: absolute;
                right: 0;
            }
        }
    }
    .search__btn {
        color: #ffffff;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        border-radius: 4px;
        background-color: #0674ec;
        margin-left: 30px;
        line-height: 42px;
        width: 223px;
        height: 55px;
    }
}
